In [1]:
import requests
import pandas
import pandas as pd

In [2]:
#read dataset 1
data = pd.read_csv("summed_totals_hafires.csv")
data.head()

   year  total
0  2022    608
1  2021    153
2  2020     46
3  2019    190
4  2018    111

In [3]:
#Read dataset 2

data2 = pd.read_csv("totalFires19862024.csv")

In [4]:
data2.head()

   year  wildfires  ha_forest
0  1986        563   65811.71
1  1987        352    1945.40
2  1988        646    3084.13
3  1989        670    6515.06
4  1990        590    1185.92

In [5]:
# Merge the two datasets by the column "year" that both have in common

combined_df = pd.merge(data2, data, on='year', how='left')

In [6]:
print(combined_df)

    year  wildfires  ha_forest   total
0   1986        563   65811.71     NaN
1   1987        352    1945.40     NaN
2   1988        646    3084.13     NaN
3   1989        670    6515.06     NaN
4   1990        590    1185.92     NaN
5   1991        782    5386.32     NaN
6   1992        368    1592.40     NaN
7   1993        791    6958.39     NaN
8   1994       1216   75702.10     NaN
9   1995        754    7344.97     NaN
10  1996        463     821.35     NaN
11  1997        672     920.92     NaN
12  1998        961   18361.10   624.0
13  1999        841    1298.25  1044.0
14  2000        790    8058.45   665.0
15  2001        723    3010.02   945.0
16  2002        544    2039.77   483.0
17  2003        701    9441.85  1326.0
18  2004        565    1048.35   159.0
19  2005        893    5176.27   890.0
20  2006        629    3287.77   439.0
21  2007        578    1590.86   667.0
22  2008        421     554.95   476.0
23  2009        746    3461.74   536.0
24  2010        475     618.13    78.0
25  2011        586    1096.65    58.0
26  2012        747   15025.67   201.0
27  2013        602    1068.51    59.0
28  2014        462    1571.29   124.0
29  2015        509    1602.32   100.0
30  2016        560    2011.01   153.0
31  2017        629    1294.11   188.0
32  2018        312     141.33   111.0
33  2019        545    5077.68   190.0
34  2020        289     132.43    46.0
35  2021        607    2422.28   153.0
36  2022        643    5834.66   608.0
37  2023        617    1398.19     NaN
38  2024        251     174.06     NaN

In [7]:
#Save the new dataset, just in case

output_file_path = 'compared_totals_hafires.csv'  
combined_df.to_csv(output_file_path, index=False)

## what is the average of land burned by wildfires in Catalonia since there are data???

In [8]:
combined_df['ha_forest'].mean()

np.float64(7027.34282051282)

## what is the average of wildfires burned by year in Catalonia?

In [9]:
combined_df['wildfires'].mean()

np.float64(617.7692307692307)

## What is the proportion of forest repopulated regarding the burned surface?

In [20]:
import numpy as np

In [26]:
# First I have to change the NaN cells to a number. In that case, we will say there is no data

combined_df['total'] = combined_df['total'].replace({
            '0': np.nan
})

#this option doesn't do anything...so i decided to look for another...and I find the next above.

In [30]:
#Replace NaN in the 'total' column with 0
combined_df['total'] = combined_df['total'].fillna(0)

In [31]:
combined_df

    year  wildfires  ha_forest   total
0   1986        563   65811.71     0.0
1   1987        352    1945.40     0.0
2   1988        646    3084.13     0.0
3   1989        670    6515.06     0.0
4   1990        590    1185.92     0.0
5   1991        782    5386.32     0.0
6   1992        368    1592.40     0.0
7   1993        791    6958.39     0.0
8   1994       1216   75702.10     0.0
9   1995        754    7344.97     0.0
10  1996        463     821.35     0.0
11  1997        672     920.92     0.0
12  1998        961   18361.10   624.0
13  1999        841    1298.25  1044.0
14  2000        790    8058.45   665.0
15  2001        723    3010.02   945.0
16  2002        544    2039.77   483.0
17  2003        701    9441.85  1326.0
18  2004        565    1048.35   159.0
19  2005        893    5176.27   890.0
20  2006        629    3287.77   439.0
21  2007        578    1590.86   667.0
22  2008        421     554.95   476.0
23  2009        746    3461.74   536.0
24  2010        475     618.13    78.0
25  2011        586    1096.65    58.0
26  2012        747   15025.67   201.0
27  2013        602    1068.51    59.0
28  2014        462    1571.29   124.0
29  2015        509    1602.32   100.0
30  2016        560    2011.01   153.0
31  2017        629    1294.11   188.0
32  2018        312     141.33   111.0
33  2019        545    5077.68   190.0
34  2020        289     132.43    46.0
35  2021        607    2422.28   153.0
36  2022        643    5834.66   608.0
37  2023        617    1398.19     0.0
38  2024        251     174.06     0.0

In [33]:
#Now I can calculate the total of the burned and replanted are in roder to know the proportion. 
total_burned = combined_df['ha_forest'].sum()
total_burned

np.float64(274066.37)

In [35]:
total_repopulated = combined_df['total'].sum(),
total_repopulated

(np.float64(10323.0),)

In [40]:
(total_repopulated/total_burned) * 100

array([3.76660588])

In [ ]:
#This information has been used for the subtitles of the visualisations and for exampling the phenomenon.