In [1]:
!pip install --quiet pandas

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import requests

In [3]:
import pandas

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("forestRepopulation.csv")
data.head()

,County,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Alt Camp,"0,0","15,8","0,0","0,0","1,5","0,0","0,0","6,5","0,0",...,"0,0","75,6","153,7","30,4","89,8","0,0","0,0","9,8","155,0","4,8"
1,Alt Empordà,"0,0","2,4","7,4","0,2","5,6","1,3","16,0","0,0","1,3",...,"0,0","5,9","43,8","67,5","149,4","86,8","309,4","89,6","9,6","5,0"
2,Alt Penedès,"0,0","0,0","0,0","0,0","16,8","31,4","18,8","11,5","4,3",...,"0,0","0,0","0,0","0,0","0,0","1,0","0,0","0,0","0,0","0,0"
3,Alt Urgell,"2,5","0,0","0,0","21,5","0,4","0,0","0,0","0,0","1,3",...,"0,0","0,0","0,0","0,0","4,7","0,0","0,0","0,0","60,0","43,1"
4,Alta Ribagorça,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,"0,0","0,0","0,0","0,0","0,0","0,0","3,1","0,0","9,0","0,0"

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  43 non-null     object
 1   2022    43 non-null     object
 2   2021    42 non-null     object
 3   2020    42 non-null     object
 4   2019    42 non-null     object
 5   2018    42 non-null     object
 6   2017    42 non-null     object
 7   2016    42 non-null     object
 8   2015    42 non-null     object
 9   2014    42 non-null     object
 10  2013    42 non-null     object
 11  2012    42 non-null     object
 12  2011    42 non-null     object
 13  2010    42 non-null     object
 14  2009    42 non-null     object
 15  2008    42 non-null     object
 16  2007    42 non-null     object
 17  2006    42 non-null     object
 18  2005    42 non-null     object
 19  2004    42 non-null     object
 20  2003    42 non-null     object
 21  2002    42 non-null     object
 22  2001    42 non-null     object
 23  2000    42 non-null     object
 24  1999    42 non-null     object
 25  1998    42 non-null     object
dtypes: object(26)
memory usage: 8.9+ KB

In [11]:
df = pd.DataFrame(data)

In [18]:
#not working again , and again, and again...

for col in df.columns[1:]:  # Skipping the first column as it contains County names
    df[col] = df[col].str.replace(',', '.').astype(float).fillna(0).astype(int)

AttributeError: Can only use .str accessor with string values!

In [19]:
# new code to tranform to intergers. It is a new way, not learned before. 

def convert_to_integers(df):
    for col in df.columns[1:]:  # Skipping the first column as it contains County names
        df[col] = df[col].astype(str).str.replace(',', '.').astype(float).fillna(0).astype(int)
    return df

In [20]:
# Apply the conversion
df = convert_to_integers(df)

In [21]:

# Display the first few rows and the data types after conversion
print(df.head())
print(df.dtypes)

           County  2022  2021  2020  2019  2018  2017  2016  2015  2014  ...  \
0        Alt Camp     0    15     0     0     1     0     0     6     0  ...
1     Alt Empordà     0     2     7     0     5     1    16     0     1  ...
2     Alt Penedès     0     0     0     0    16    31    18    11     4  ...
3      Alt Urgell    25     0     0    21     0     0     0     0     1  ...
4  Alta Ribagorça     0     0     0     0     0     0     0     0     0  ...

   2007  2006  2005  2004  2003  2002  2001  2000  1999  1998
0     0    75   153    30    89     0     0     9   155     4
1     0     5    43    67   149    86   309    89     9     5
2     0     0     0     0     0     1     0     0     0     0
3     0     0     0     0     4     0     0     0    60    43
4     0     0     0     0     0     0     3     0     9     0

[5 rows x 26 columns]
County    object
2022       int64
2021       int64
2020       int64
2019       int64
2018       int64
2017       int64
2016       int64
2015       int64
2014       int64
2013       int64
2012       int64
2011       int64
2010       int64
2009       int64
2008       int64
2007       int64
2006       int64
2005       int64
2004       int64
2003       int64
2002       int64
2001       int64
2000       int64
1999       int64
1998       int64
dtype: object

In [22]:
# Sum the values of each column without the first column ('county')
column_sums = df.iloc[:, 1:].sum()

In [23]:
# Display the column sums
print(column_sums)

2022     608
2021     153
2020      46
2019     190
2018     111
2017     188
2016     153
2015     100
2014     124
2013      59
2012     201
2011      58
2010      78
2009     536
2008     476
2007     667
2006     439
2005     890
2004     159
2003    1326
2002     483
2001     945
2000     665
1999    1044
1998     624
dtype: int64

In [28]:
# Create a new DataFrame from the summed values
sums_df = pd.DataFrame(column_sums, columns=['Total']).reset_index()
sums_df.columns = ['year', 'total']

# Display the new DataFrame
print(sums_df)

    year  total
0   2022    608
1   2021    153
2   2020     46
3   2019    190
4   2018    111
5   2017    188
6   2016    153
7   2015    100
8   2014    124
9   2013     59
10  2012    201
11  2011     58
12  2010     78
13  2009    536
14  2008    476
15  2007    667
16  2006    439
17  2005    890
18  2004    159
19  2003   1326
20  2002    483
21  2001    945
22  2000    665
23  1999   1044
24  1998    624

In [29]:
# Save the new DataFrame to a CSV file
output_file_path = 'summed_totals_hafires.csv'  
sums_df.to_csv(output_file_path, index=False)

# Display the new DataFrame
print(sums_df)

    year  total
0   2022    608
1   2021    153
2   2020     46
3   2019    190
4   2018    111
5   2017    188
6   2016    153
7   2015    100
8   2014    124
9   2013     59
10  2012    201
11  2011     58
12  2010     78
13  2009    536
14  2008    476
15  2007    667
16  2006    439
17  2005    890
18  2004    159
19  2003   1326
20  2002    483
21  2001    945
22  2000    665
23  1999   1044
24  1998    624