In [ ]:
#I finally didn't use this data set...but i Learned anew way to change to date format.

In [1]:
!pip install --quiet pandas

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import requests

In [3]:
import pandas

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("FireCAT20112023.csv")
data.head()

,date,code_county,County,code_municipality,municipality,ha_trees,ha_notrees,ha_noforest,ha_forest
0,11/01/2011,8,Baix Camp,431299,Riudoms,0.00,0.20,0.0,0.20
1,13/01/2011,37,Terra Alta,430483,Corbera d'Ebre,0.20,0.00,0.0,0.20
2,14/01/2011,2,Alt Empordà,170545,Colera,0.01,0.00,0.0,0.01
3,16/01/2011,6,Anoia,81022,Igualada,0.00,0.02,0.0,0.02
4,16/01/2011,22,Montsià,430629,Freginals,0.00,0.00,0.0,0.00

In [6]:
#concat a new df

In [7]:
data2 = pd.read_csv("fireCAT2024.csv")
data2.head()

,date,code_county,County,code_municipality,municipality,ha_trees,ha_notrees,ha_noforest,ha_forest
0,01/01/2024,24,Osona,80266,"Brull, el",0.00,0.00,0.0,0.00
1,01/01/2024,36,Tarragonès,431482,Tarragona,0.00,0.02,0.0,0.02
2,02/01/2024,7,Bages,80983,Sant Salvador de Guardiola,1.15,0.00,0.0,1.15
3,03/01/2024,6,Anoia,81614,Piera,0.00,0.00,0.0,0.00
4,03/01/2024,34,Selva,171931,Sils,0.43,0.00,0.0,0.43

In [8]:
frames = [data, data2]

In [9]:
df = pd.concat(frames)
df.tail()

,date,code_county,County,code_municipality,municipality,ha_trees,ha_notrees,ha_noforest,ha_forest
246,27/06/2024,16,Conca de Barberà,430862,Montblanc,13.10,2.20,10.6,15.30
247,28/06/2024,40,Vallès Occidental,81878,Sabadell,0.01,0.00,0.0,0.01
248,28/06/2024,12,Baix Penedès,431634,"Vendrell, el",0.00,0.04,0.0,0.04
249,29/06/2024,32,Segarra,259059,Ribera d'Ondara,0.00,0.00,0.0,0.00
250,29/06/2024,12,Baix Penedès,431634,"Vendrell, el",0.00,0.01,0.0,0.01

In [10]:
#changing the dateformat
import datetime

In [11]:
from datetime import datetime

In [12]:
oldformat = '11/01/2011'

In [13]:
datetimeobject = datetime.strptime(oldformat,'%d/%m/%Y')

In [14]:
datenewformat = datetimeobject.strftime('%m-%d-%Y')

In [15]:
print(datenewformat)

01-11-2011

In [16]:
df2 = pd.DataFrame(df)

In [22]:
df2['datenewformat'] = datenewformat

In [23]:
df2.head()

,date,code_county,County,code_municipality,municipality,ha_trees,ha_notrees,ha_noforest,ha_forest,datenewformat
0,11/01/2011,8,Baix Camp,431299,Riudoms,0.00,0.20,0.0,0.20,01-11-2011
1,13/01/2011,37,Terra Alta,430483,Corbera d'Ebre,0.20,0.00,0.0,0.20,01-11-2011
2,14/01/2011,2,Alt Empordà,170545,Colera,0.01,0.00,0.0,0.01,01-11-2011
3,16/01/2011,6,Anoia,81022,Igualada,0.00,0.02,0.0,0.02,01-11-2011
4,16/01/2011,22,Montsià,430629,Freginals,0.00,0.00,0.0,0.00,01-11-2011

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7359 entries, 0 to 250
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               7359 non-null   object
 1   code_county        7359 non-null   int64
 2   County             7359 non-null   object
 3   code_municipality  7359 non-null   int64
 4   municipality       7359 non-null   object
 5   ha_trees           7359 non-null   float64
 6   ha_notrees         7358 non-null   float64
 7   ha_noforest        7359 non-null   float64
 8   ha_forest          7359 non-null   float64
 9   datenewformat      7359 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 632.4+ KB

In [27]:
df2['datenewformat'] = pd.to_datetime(df2['datenewformat'])

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7359 entries, 0 to 250
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               7359 non-null   object
 1   code_county        7359 non-null   int64
 2   County             7359 non-null   object
 3   code_municipality  7359 non-null   int64
 4   municipality       7359 non-null   object
 5   ha_trees           7359 non-null   float64
 6   ha_notrees         7358 non-null   float64
 7   ha_noforest        7359 non-null   float64
 8   ha_forest          7359 non-null   float64
 9   datenewformat      7359 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 632.4+ KB

In [30]:
df2.head()

,date,code_county,County,code_municipality,municipality,ha_trees,ha_notrees,ha_noforest,ha_forest,datenewformat
0,11/01/2011,8,Baix Camp,431299,Riudoms,0.00,0.20,0.0,0.20,2011-01-11
1,13/01/2011,37,Terra Alta,430483,Corbera d'Ebre,0.20,0.00,0.0,0.20,2011-01-11
2,14/01/2011,2,Alt Empordà,170545,Colera,0.01,0.00,0.0,0.01,2011-01-11
3,16/01/2011,6,Anoia,81022,Igualada,0.00,0.02,0.0,0.02,2011-01-11
4,16/01/2011,22,Montsià,430629,Freginals,0.00,0.00,0.0,0.00,2011-01-11